.DS_Store
Bookling/Bookling/bin/Debug/Bookling.app
Bookling/Bookling/bin/Debug/Bookling.exe.mdb
Bookling/bin/Debug/MonoMac.dll
Bookling/Bookling/bin/Debug/stdout.log
Bookling/Bookling/bin/Debug/stderr.log
Bookling/Bookling/bin/Debug
Bookling/Bookling/bin
Bookling/Bookling/obj/Debug
Bookling/Bookling/obj/Debug/monomac_version
Bookling/Bookling/Bookling.Interface/About\ Dialog/.DS_Store
Bookling/Bookling/Bookling.Interface/.DS_Store 
Bookling/Bookling/Bookling.Interface/About\ Dialog/.DS_Store 
Bookling.userprefs
test-results 
