# Useless project metadata
*.userprefs
.DS_Store

# Generated Objective-C files
*.h
*.m
*.xcodeproj
*.hmap
*.xcindexdb
*.xcindexdb.strings
*.idx

# Compiled objects
*.app
*.exe
*.exe.mdb
*.dll

#Logs
*.log

# Generated Test Results
*.xml
*.csproj.test-cache 
