# Useless project metadata
*.userprefs
.DS_Store

# Generated Objective-C files
*.h
*.m

# Compiled objects
*.app
*.exe
*.exe.mdb
*.dll

#Logs
*.log

# Generated Test Results
*.xml
*.csproj.test-cache 
